<div class="item">
    <span>Nome</span>
    <div>
        <input 
            type="text" 
            name="name"
            placeholder=""
            value="{{ chef.name }}"
            required
            >
    </div>
</div>

<div class="item">
    <span>Avatar</span>
    <div>
        <input 
            type="url" 
            name="avatar_url"
            placeholder="http://"
            value="{{ chef.avatar_url }}"
            required
            >
    </div>
</div>
