<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="/styles.css">

    <link rel="stylesheet" href="/responsive.css">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
        <title>Foodfy</title>
    {% endblock %}

</head>
<body>
    <header class="header_admin">
        <div class="logo_admin">
            <a href="/"><img src="/asserts/logo_admin.png" alt="Foodfy"></a>
        </div>
        <div class="links-header-admin">
        {% block header %}
            <a href="/admin/recipes">RECEITAS</a>
            <a href="/admin/chefs">CHEFS</a>
        {% endblock %}
        </div>
    </header>

    {% block content %}

    {% endblock %}

    <footer class="footer">
        <p>Todos direitos reservados, receitas Foodfy.</p>
    </footer>

    <script src="/scripts/script_layout.js"></script>
</body>
</html>