/* Iniciando com CSS */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";

/* ==== Home ==== */
:root {
    --color-banner: #FBDFDB;
    --color-header: #111111;
    --color-rocket: #7159c1;
    --color-black: #111111;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    overflow: scroll;
}

.content-container {
    flex: 1 0 auto;
}

.header_home {
    margin: 0 231px;

    display: flex;

    margin-top: 3.3%;
    margin-bottom: 2.7%;
}

header .logo {

    /* padding-top: 8px; */

    padding-right: 122.4px;

    justify-self: center;
    align-self: center;

    width: 90.6px;
    height: 26.9px;
    opacity: 100%;

    color: var(--color-header);
}

header a {
    justify-self: center;
    align-self: center;
    font-size: 16px;
    line-height: 28px;
    width: 42px;
    height: 19px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
    color: var(--color-header);
}

a:hover {
    font-weight: bold;
    transition: color 200ms;
}

/* .content{
    max-width: 58.75rem;
    margin: 0 auto;
}
  
  
.content-flex {
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* .banner {
    background-color: var(--color-banner);
} */


.must-accessed h3 {
    margin: 0 231px;
    margin-bottom: 20px;
    width: 174px;
    height: 28px; 
    font-size: 24px;
    line-height: 28px;
    opacity: 100%;
    color: var(--color-header);
}


/* === RECIPES === */

.recipes {
    margin: 0 auto;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.food {
    cursor: pointer;
}

.recipes img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}


.recipe__image-container img{
    width: 100%;
}

.recipe__content {
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    height: 21px;
    color: var(--color-header);
    opacity: 100%;
}


.recipe__info {
    padding-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}


.footer {
    background: #EEEEEE;
    /* margin-top: 50px; */
    margin-top: auto;
    width: 1903px;
    height: 62px;

    flex-shrink: 0;

    bottom: 0;

    width: 100%;
}

.footer p {
    padding-top: 23px;
    padding-bottom: 23px;
    line-height: 16px;
    font-size: 14px;
    color: #999999;
    text-align: center;

    bottom: 0;

    width: 100%;
}

/* ==== About ==== */

/* .sobre, 
.active{
    font-weight: bold;
} */

.about {
    margin: 0 290px;
}

.titulo h3 {
    margin-top: 15px;
    margin-left: 15px;
    opacity: 100%;
    font-size: 24px;
    color: var(--color-header);
    padding-bottom: 1.8%;
}

.about .paragraphs {
    margin-left: 15px;
    width: 940px;
    line-height: 28px;
    opacity: 100%;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding-bottom: 20px;
}

.about .titulos-secundarios {
    padding-left: 15px;
    width: 202px;
    line-height: 24px;
    opacity: 100%;
    font-size: 20px;
    color: var(--color-header);
    padding-bottom: 1.8%;
}


/* ==== Recipes ==== */

/* .receitas,
.active {
    font-weight: bold;
} */

.recipes.foods {
    margin-top: 25px;
}

/*==== MODAL ==== */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    /* Visibilidade do componente deve estar escondida */
    visibility: hidden;
}

.modal {
    background: #FFFFFF;;
    position: relative;
    border-radius: 16px;
    width: 660px;
    height: 413px;
    margin: 370px 355px;
    text-align: center;
}

.modal .close-modal {
    font-size: 16px;
    color: #999999;
    line-height: 19px;
    opacity: 100%;
    padding-bottom: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* ==== Not Found ==== */

.not-found {
    align-items: center;
    text-align: center;
    padding: 20px;
}


/* ==== RECIPE DETAIL ==== */

/* .content-container {
    position: fixed; 
}  */

.recipe-header {
    align-items: center;
    text-align: center;
    margin: auto;
    /* position: relative; */
}

/* .recipe-detail {
    margin: 0 auto;
} */

.hide {
    display: none;
}

.image-recipe img{
    margin-top: 25px;
    border-radius: 15px;

    opacity: 100%;
}

.content-recipe {
    margin-top: 50px;
    font-weight: bold;
    opacity: 100%;
    color: #111111;
    font-size: 36px;
    line-height: 42px;
}

.recipe-author {
    font-size: 20px;
    color: #777777;
    font-size: 20px;
    line-height: 24px;
}

.recipe-context {
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
}

.recipe-context h4 {
    margin-top: 50px;
    margin-left: 15px;
    line-height: 28px;
    opacity: 100%;
    font-size: 24px;
    color: #111111;
    /* padding-bottom: 1.8%; */
}

.recipe-ingredients ul,
.recipe-preparation ul {
    margin-top: 20px;
    margin-left: 35px;
}

.recipe-information p {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    color: #111111;
}

.show-ingredients,
.show-preparation,
.show-information {
    display: flex;
    justify-items: center;
}

.show-ingredients button,
.show-preparation button,
.show-information button {
    font-size: 10px;
    color: #999999;

    line-height: 14px;

    width: 0px;

    opacity: 100%;

    margin-left: 8px;
    margin-top: 39px;
    cursor: pointer;

    font-weight: bold;

}

.links-header a.active {
    font-weight: bold;
    /* color: var(--primary-color);  */
 }

/* ====== ADMIN ====== */

.header_admin {
    background-color: var(--color-black);
    width: 100%;
    /* height: 80px; */
    display: flex;

    padding: 1.688rem 0;
    box-sizing: border-box;

    align-items: center;

    /* margin-bottom: 50px; */
}

header .logo_admin {
    /* padding-left: 231px; */
    /* margin: 0 470px; */
    margin: 0 auto;
    width: 100%;
    max-width: 58.75rem;

    /* justify-self: center; */
    /* align-self: center; */

    /* width: 90.6px; */
    /* height: 26.9px; */
    /* opacity: 100%; */

    /* color: #FFFFFF; */
 }

.admin-container {
    /* margin-top: 100px; */
    margin: 0 500px;
 }

 .admin-management {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    text-align: unset;
 }

.admin-management h1 {
    line-height: 1.75rem;
    font-size: 1.5rem;
    color: var(--color-black);
 }

.admin-management a {
     margin: 0 280px;
     background-color: var(--color-header);
     padding: 8px 8px;
     text-decoration: none;
     text-transform: uppercase;
     color: white;
     font-size: 12px;
     border-radius: 4px;
 }

.recipes-management {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    max-width: 58.75rem;
    margin-top: 1.875rem;
}

.recipe-management {
    display: grid;
    grid-template-columns: 38% 62%;
    gap: 1.25rem;
    position: relative;
}

.recipe-management::before {
    content: " ";
    width: 0%;
    height: 0.15rem;
    background-color: var(--color-banner);
    left: 0;
    top: -0.6rem;
    position: absolute;
}

.recipe-management::after {
    content: " ";
    width: 0%;
    height: 0.15rem;
    background-color: var(--color-banner);
    left: 0;
    top: 5.4rem;
    position: absolute;
}

.recipe-management:hover::before{
    width: 100%;
    transition: width 1.5s ease-in-out;
}

.recipe-management:hover::after{
    width: 100%;
    transition: width 1.5s ease-in-out;
}

.recipe-management img{
    /* border-radius: 0.536rem;
    height: 5rem;
    width: 10.75rem; */
    /* margin-left: 75px; */
    width: 172px;
    height: 80px;
    border-radius: 15px;
    display: block;
    margin: 0px auto;
    max-width: 100%;
    object-fit: cover;

}

.recipe-management h4{
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: var(--color-black);
    font-weight: normal;
}

.recipe-management p{
    font-size: 0.875rem;
    color: grey;
    line-height: 1rem;
    margin-top: 0.313rem;
    margin-bottom: 0.626rem;
}

.recipe-management a{
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--color-rocket);
    font-weight: bold;
}

/* .admin-details {
    display: flex;
    line-height: 90px;
} */

/* .details {
    margin-top: 50px;
    margin: 0 483px;
} */

/* ====== ADMIN - CREATE / EDIT ====== */

.card {
    max-width: 58.75rem;
    /* margin: 3.438rem auto; */
    padding: 0 0.5rem;
    margin: 3.438rem 500px;
}

.details-create,
.details-show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px;
    margin: 0 500px;
    line-height: 90px;
    display: flex;
    margin-bottom: 30px; */
}

.details-create h1 {
    /* font-size: 24px;
    width: 165px; */
    font-size: 1.5rem;
    line-height: 1.75rem;
    color: var(--color-black);
}

.details-create button,
.editButton {
    font-size: 1rem;
    line-height: 1.188rem;
    padding: 0.563rem 1.25rem;
    font-weight: bold;
    /* margin-left: 650px; */
    background-color: #6558C3;
    /* width: 100px; */
    /* height: 40px; */
    /* text-decoration: none; */
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
}

.details-create button:hover,
.editButton:hover {
    transition: 1s;
    background-color: purple;
}

 /* .details-create button span{
    text-decoration: none;
    width: 99px;
    height: 19px;
    color: #FFFFFF;
    text-align: right;
    font-size: 12px;
 } */

.editButton {
    text-decoration: none;
}


/* ====== ADMIN - FIELDS / INPUTS ====== */

.item {
    margin-top: 1.875rem;
}

.item span:first-child{
    /* font-size: 16px; */
    font-size: 1rem;
    color: var(--color-black);
    font-weight: bold;
    line-height: 1.188rem;
    /* margin-bottom: 10px; */
}

.item span + div {
    margin-top: 0.625rem;
}

.item input, 
.item textarea{
    background: #FFFFFF;
    border: 0.063rem solid #DDDDDD;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 900px;
    height: 49px;
    margin: 0 4px;
}

.item textarea {
    /* height: 257px; */
    min-height: 16.063rem;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}
::-webkit-input-placeholder {
    color: purple;
    font-weight: normal;
    font-size: 1rem;
}

/* Botões de Add Ingredientes e Modo de Preparo */

.add-ingredient,
.add-preparation {
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    margin-bottom: 30px;
    text-decoration: none;
    font-weight: bold;
 }


/* ====== ADMIN - SHOW ====== */

.card-show { 
    max-width: 58.75rem;
    margin: 3.438rem auto;
    padding: 0 0.5rem;
}

.image img {
    width: 100%;
    max-height: 17.5rem;
    border-radius: 0.938rem;
    margin-top: 1.25rem;
    object-fit: cover;
    margin-bottom: 3.125rem;
}

.title {
    text-align: center;
}

.title h1 {
    font-size: 2.25rem;
    color: var(--color-black);
    line-height: 2.625rem;
}

.title p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #444444;
}

#itemShow + #itemShow {
    margin-top: 2.563rem;
}

.item {
    margin-top: 1.875rem;
}

.item h2 {
    font-size: 1.5rem;
    color: var(--color-black);
    line-height: 1.75rem;
    margin-bottom: 1.188rem;
}

.item ul,
p {
    color: #999999;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.item ul li {
    list-style-type: none;
}

.item ul li::before {
    content: '-  ';
}


/* ====== ADMIN - EDIT / DELETE ====== */

.form-actions{
    position: relative;
}

.save, .delete{
    position: absolute;
    top: 0;
}

.save{
    right: 0;
}

.details-create .delete{
    right: 9.313rem;
    background-color: #DC4747;
}