/* Iniciando com CSS */
@import "https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap";

/* ==== Home ==== */
:root {
    --color-banner: #FBDFDB;
    --color-header: #111111;
    --color-rocket: #7159c1;
    --color-black: #111111;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}


body {
    height: 100vh;
    display: flex;
    flex-direction: column;

    overflow: scroll;
}

.content-container,
.content-filter {
    flex: 1 0 auto;
}

.header_home {
    margin: 0 231px;

    display: flex;
    align-items: center;

    /* margin-top: 3.3%; */
    /* margin-top: 10%; */
    /* margin-bottom: 2.7%; */
}

.header_home .logo {

    /* padding-top: 8px; */

    padding-right: 122.4px;

    justify-self: center;
    align-self: center;

    width: 90.6px;
    height: 26.9px;
    opacity: 100%;

    color: var(--color-header);
}

.header_home a {
    /* justify-self: center; */
    /* align-self: center; */
    font-size: 16px;
    line-height: 30px;
    width: 42px;
    height: 19px;
    margin: 30px 20px;
    padding-bottom: 3px;
    text-decoration: none;
    color: var(--color-header);
    /* margin-bottom: 30px; */
}

a:hover {
    font-weight: bold;
    transition: color 200ms;
}

/* .header_home input {
    justify-self: center;
    align-self: center;
    font-size: 16px;
    line-height: 28px;
    width: 42px;
    height: 19px;
    margin: 0 16px;
    padding-bottom: 3px;
    text-decoration: none;
    color: var(--color-header);
} */

/* FILTERS */
.header_home .links-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    /* margin-bottom: 100px; */
}

/* .table-container .header a {
    margin: 0;
    width: 120px;
} */

.header_home .links-header form {
    display: grid;
    /* width: 30px; */
    /* height: 30px; */
    grid-template-columns: 1fr 120px;
    align-items: center;
    grid-gap: 8px;

    /* margin: 0 100px; */
    /* margin-bottom: 30px; */
    margin: 0 150px;
    /* padding-bottom: 3px; */
}

.header_home .links-header form input {
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 12px 12px;
    width: 246px;
    height: 37px;
    box-sizing: border-box;
    color: #999999;
    opacity: 100%;
    font-size: 14px;
    border-radius: 4px;
}

.header_home .links-header form input::-webkit-input-placeholder {
    color: #999999;
}

.header_home .links-header form input:-moz-placeholder { /* Firefox 18- */
    color: #999999;  
}
 
.header_home .links-header form input::-moz-placeholder {  /* Firefox 19+ */
    color: #999999;  
}
 
.header_home .links-header form input:-ms-input-placeholder {  
    color: #999999;  
}

.header_home .links-header form button {
    width: 91px;
    height: 37px;
    border-radius: 4px;
    margin: 0;
    color: #eeeeee;
    background-color: var(--color-rocket);
    font-weight: bold;
    font-size: 16px;
}

/* .content{
    max-width: 58.75rem;
    margin: 0 auto;
}
  
  
.content-flex {
    height: 91vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* .banner {
    background-color: var(--color-banner);
} */


.content-container .must-accessed h3 {
    margin: 0 485px;
    margin-bottom: 20px;
    width: 174px;
    height: 28px; 
    font-size: 24px;
    line-height: 28px;
    opacity: 100%;
    color: var(--color-header);
}


/* === RECIPES === */

.content-container .recipes {
    /* margin: 0 485px; */
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    /* padding: 16px; */
    margin-bottom: 70px;
}

.content-container .recipe {
    margin: 0 8px 0 2px;
}

.food {
    cursor: pointer;
}

.recipes img {
    width: 300px;
    height: 140px;
    border-radius: 15px;
}


.recipe__image-container img{
    width: 100%;
}

.recipe__content {
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    height: 21px;
    color: var(--color-header);
    opacity: 100%;
}


.recipe__info {
    padding-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}


.footer {
    background: #EEEEEE;
    /* margin-top: 50px; */
    margin-top: auto;
    width: 1903px;
    height: 62px;

    flex-shrink: 0;

    bottom: 0;

    width: 100%;
}

.footer p {
    padding-top: 23px;
    padding-bottom: 23px;
    line-height: 16px;
    font-size: 14px;
    color: #999999;
    text-align: center;

    bottom: 0;

    width: 100%;
}

/* ==== About ==== */

/* .sobre, 
.active{
    font-weight: bold;
} */

.content-container .about {
    margin: 35px 475px;
    margin-bottom: 70px;
}

.titulo h3 {
    margin-top: 15px;
    margin-left: 15px;
    opacity: 100%;
    font-size: 24px;
    color: var(--color-header);
    padding-bottom: 1.8%;
}

.about .paragraphs {
    margin-left: 15px;
    width: 940px;
    line-height: 28px;
    opacity: 100%;
    font-size: 18px;
    color: #444444;
    line-height: 28px;
    padding-bottom: 20px;
}

.about .titulos-secundarios {
    padding-left: 15px;
    width: 202px;
    line-height: 24px;
    opacity: 100%;
    font-size: 20px;
    color: var(--color-header);
    padding-bottom: 1.8%;
}


/* ==== Recipes ==== */

/* .receitas,
.active {
    font-weight: bold;
} */

.content-container .recipes.foods {
    margin-top: 20px;
}

/*==== MODAL ==== */

.modal-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    /* Visibilidade do componente deve estar escondida */
    visibility: hidden;
}

.modal {
    background: #FFFFFF;;
    position: relative;
    border-radius: 16px;
    width: 660px;
    height: 413px;
    margin: 370px 355px;
    text-align: center;
}

.modal .close-modal {
    font-size: 16px;
    color: #999999;
    line-height: 19px;
    opacity: 100%;
    padding-bottom: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

/* ==== Not Found ==== */

.not-found {
    align-items: center;
    text-align: center;
    padding: 20px;
}


/* ==== RECIPE DETAIL ==== */

/* .content-container {
    position: fixed; 
}  */

.content-container .recipe-header {
    align-items: center;
    text-align: center;
    margin: auto;
    /* position: relative; */
}

.content-container .recipe-detail {
    margin-bottom: 70px;
}

/* .recipe-detail {
    margin: 0 auto;
} */

.hide {
    display: none;
}

.image-recipe img{
    margin-top: 25px;
    border-radius: 15px;

    opacity: 100%;
}

.content-recipe {
    margin-top: 50px;
    font-weight: bold;
    opacity: 100%;
    color: #111111;
    font-size: 36px;
    line-height: 42px;
}

.recipe-author {
    font-size: 20px;
    color: #777777;
    font-size: 20px;
    line-height: 24px;
}

.content-container .recipe-detail .recipe-context {
    margin: 0 auto;
    /* display: flex;
    flex-direction: column; */
}

.content-container .recipe-detail .recipe-context h4 {
    margin-top: 50px;
    margin-left: 15px;
    line-height: 28px;
    opacity: 100%;
    font-size: 24px;
    color: #111111;
    /* padding-bottom: 1.8%; */
}

.content-container .recipe-detail .recipe-ingredients ul,
.content-container .recipe-detail .recipe-preparation ul {
    margin-top: 20px;
    margin-left: 35px;
}

.content-container .recipe-detail .recipe-information p {
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: justify;
    color: #111111;
}

.content-container .recipe-detail .show-ingredients,
.content-container .recipe-detail .show-preparation,
.content-container .recipe-detail .show-information {
    display: flex;
    justify-items: center;
}

.content-container .recipe-detail .button {
    font-size: 10px;
    /* color: #999999; */

    /* line-height: 8px; */

    width: 60px;

    /* opacity: 100%; */

    margin-left: 12px;
    margin-top: 55px;
    cursor: pointer;
    border-radius: 4px;

    /* font-weight: bold; */

}

.links-header a.active {
    font-weight: bold;
    /* color: var(--primary-color);  */
 }

/* ====== ADMIN ====== */

.header_admin {
    background-color: var(--color-black);
    width: 100%;
    /* height: 80px; */
    display: flex;

    padding: 1.688rem 0;
    /* margin: 0 auto; */
    /* box-sizing: border-box; */

    justify-self: center;
    align-self: center;

    /* margin-bottom: 50px; */
}

.header_admin .logo_admin {
    /* padding-left: 231px; */
    /* margin: 0 470px; */
    /* margin: 0 auto; */
    width: 120px;
    max-width: 51rem;

    margin-left: 500px;

    /* padding-right: 0px; */

    /* justify-self: center;
    align-self: center; */

    opacity: 100%;

    /* justify-self: center; */
    /* align-self: center; */

    /* width: 90.6px; */
    height: 26.9px;
    /* opacity: 100%; */

    /* color: #FFFFFF; */
 }

.admin-container {
    /* margin-top: 100px; */
    margin: 0 500px;
 }

 .admin-management {
    margin-top: 50px;
    display: flex;
    justify-content: left;
    text-align: unset;
 }

.admin-management h1 {
    line-height: 1.75rem;
    font-size: 1.5rem;
    color: var(--color-black);
 }

.admin-management a {
     /* margin: 0 280px; */
     background-color: var(--color-header);
     padding: 8px 8px;
     margin-left: 435px;
     text-decoration: none;
     text-transform: uppercase;
     color: white;
     font-size: 12px;
     border-radius: 4px;
     margin-bottom: 12px;
 }

.recipes-management {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
    max-width: 58.75rem;
    margin-top: 1.875rem;
    margin-bottom: 70px;

    /* margin: 0 auto;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px; */
}

.recipe-management {
    display: grid;
    grid-template-columns: 38% 62%;
    gap: 1.25rem;
    position: relative;
}

.recipe-management::before {
    content: " ";
    width: 0%;
    height: 0.15rem;
    background-color: var(--color-banner);
    left: 0;
    top: -0.6rem;
    position: absolute;
}

.recipe-management::after {
    content: " ";
    width: 0%;
    height: 0.15rem;
    background-color: var(--color-banner);
    left: 0;
    top: 5.4rem;
    position: absolute;
}

.recipe-management:hover::before{
    width: 100%;
    transition: width 1.5s ease-in-out;
}

.recipe-management:hover::after{
    width: 100%;
    transition: width 1.5s ease-in-out;
}

.recipe-management img{
    /* border-radius: 0.536rem;
    height: 5rem;
    width: 10.75rem; */
    /* margin-left: 75px; */
    width: 172px;
    height: 80px;
    border-radius: 15px;
    display: block;
    margin: 0px auto;
    max-width: 100%;
    object-fit: cover;

}

.recipe-management h4{
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: var(--color-black);
    font-weight: normal;
}

.recipe-management p{
    font-size: 0.875rem;
    color: grey;
    line-height: 1rem;
    margin-top: 0.313rem;
    margin-bottom: 0.626rem;
}

.recipe-management a{
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--color-rocket);
    font-weight: bold;
}

/* .admin-details {
    display: flex;
    line-height: 90px;
} */

/* .details {
    margin-top: 50px;
    margin: 0 483px;
} */

/* ====== ADMIN - CREATE / EDIT ====== */

.card {
    max-width: 58.75rem;
    /* margin: 3.438rem auto; */
    padding: 0 0.5rem;
    margin-top: 55px;
    margin: 3.438rem 490px;
}

.details-create,
.details-show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 50px;
    margin: 0 500px;
    line-height: 90px;
    display: flex;
    margin-bottom: 30px; */
}

.details-show {
    margin-bottom: 20px;
}

.detail-chefs h1{
    margin-right: 600px;
}

/* .details-create {
    margin: ;
} */

.details-edit {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.details-create h1 {
    font-size: 24px;
    width: 165px;
    height: 28px;
    /* font-size: 1.5rem; */
    /* line-height: 1.75rem; */
    color: var(--color-black);
}

.details-edit h1 {
    font-size: 24px;
    width: 250px;
    height: 10px;
    
    /* font-size: 1.5rem; */
    /* line: 28px; */
    color: var(--color-black);
    margin-bottom: 30px;
}

.details-edit button {
    
}

.details-create .createButton,
.editButton,
.save {
    font-size: 14px;
    line-height: 1.188rem;
    padding: 0.563rem 1.25rem;
    font-weight: bold;
    /* margin-left: 650px; */
    background-color: #6558C3;
    /* width: 139px; */
    /* height: 37px; */
    /* text-decoration: none; */
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 18px;
    /* text-align: center; */
}

.editButton {
    margin-right: 0px;
}

.details-create .createButton:hover,
.editButton:hover,
.details-edit .save:hover {
    transition: 1s;
    background-color: purple;
}

.details-edit .delete:hover {
    transition: 1s;
    background-color: brown;
}

 /* .details-create button span{
    text-decoration: none;
    width: 99px;
    height: 19px;
    color: #FFFFFF;
    text-align: right;
    font-size: 12px;
 } */

.editButton {
    text-decoration: none;
}


/* ====== ADMIN - FIELDS / INPUTS ====== */

.item {
    margin-top: 1.875rem;
}

.item span:first-child{
    /* font-size: 16px; */
    font-size: 1rem;
    color: var(--color-black);
    font-weight: bold;
    line-height: 1.188rem;
    /* margin-bottom: 10px; */
}

.item span + div {
    margin-top: 0.625rem;
}

.item input, 
.item textarea{
    background: #FFFFFF;
    border: 0.063rem solid #DDDDDD;
    border-radius: 4px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    width: 900px;
    height: 49px;
    line-height: 20px;
    /* margin: 0 4px; */
}

.item textarea {
    /* height: 257px; */
    min-height: 16.063rem;
    resize: none;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
}
.item textarea::-webkit-input-placeholder,
.item input::-webkit-input-placeholder {
    /* color: #777777; */
    font-weight: normal;
    font-size: 12px;
    color: #999999;
    /* font-size: 16px; */
}

/* Botões de Add Ingredientes e Modo de Preparo */

button.add-ingredient,
button.add-preparation {
    font-size: 16px;
    color: #6558C3;
    text-align: right;
    margin-top: 15px;
    margin-bottom: 5px;
    /* text-decoration: none; */
    font-weight: bold;
    /* box-shadow: none; */
    background-color: white;
 }


/* ====== ADMIN - SHOW ====== */

.card-show { 
    max-width: 58.75rem;
    margin: 3.438rem auto;
    padding: 0 0.5rem;
    margin-bottom: 70px;
}

.image img {
    border-radius: 15px;
}

/* .image img {
    width: 940px;
    height: 280px;
    max-height: 17.5rem;
    border-radius: 15px;
    /* border-radius: 0.938rem; */
    /* margin-top: 1.25rem;
    object-fit: cover;
    margin-bottom: 3.125rem;
/* } */ 

.title {
    text-align: center;
}

.title h1 {
    font-size: 2.25rem;
    color: var(--color-black);
    line-height: 2.625rem;
}

.title p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #444444;
}

#itemShow + #itemShow {
    margin-top: 2.563rem;
}

.item {
    margin-top: 1.875rem;
}

.item h2 {
    font-size: 1.5rem;
    color: var(--color-black);
    line-height: 1.75rem;
    margin-bottom: 1.188rem;
}

.item ul,
p {
    color: #999999;
    font-size: 1.125rem;
    line-height: 1.75rem;
}

.item ul li {
    list-style-type: none;
}

.item ul li::before {
    content: '-  ';
}


/* ====== ADMIN - EDIT / DELETE ====== */

.form-actions{
    position: relative;
}

.save, .delete{
    position: absolute;
    top: 0;
}

.save{
    right: 0;
}

.details-edit .delete{
    right: 9.313rem;
    background-color: #DC4747;
    font-size: 14px;
    line-height: 1.188rem;
    padding: 0.563rem 1.25rem;
    font-weight: bold;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    margin-right: 18px;
}


/* ADMIN - RECIPES AND CHEFS */

.header_admin a {
    color: #FFFFFF; 
}

.header_admin .links-header-admin a {
    justify-self: center;
    align-self: center;
    font-size: 15px;
    line-height: 28px;
    /* width: 42px; */
    height: 18px;
    /* margin: 0 2px; */
    margin-left: 35px;
    padding-bottom: 3px;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    transition: color 200ms;
}

.links-header-admin a.active {
    font-weight: bold;
 }

.chef-header {
    align-items: center;
    text-align: center;
    margin: auto;
    /* position: relative; */
}

.image-chef img{
    margin-top: 25px;
    border-radius: 15px;

    opacity: 100%;
}

.image-chef span {
    /* margin-top: 15px; */
    padding: 100px 100px;
    /* background-color: var(--secondary-color); */
    border-radius: 100px;
    color: #777;
    margin-top: 35px;
    /* margin-bottom: 20px; */
    display: inline-block;
    margin-left: 370px;
}

.content-chef {
    margin-top: 50px;
    font-weight: bold;
    opacity: 100%;
    color: #111111;
    font-size: 36px;
    line-height: 42px;
}

.chef-author {
    font-size: 20px;
    color: #777777;
    font-size: 20px;
    line-height: 24px;
}

.chefs {
    margin: 0 auto;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.chefs.perfis {
    margin-top: 25px;
}

.perfil {
    cursor: pointer;
}

/* .chef__image-container img{
    width: 100%;
} */

.chef__content {
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    height: 21px;
    color: var(--color-header);
    opacity: 100%;
}

.chef__info {
    padding-top: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #777777;
}


.admin-container .chefs-management {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 58.75rem;
    margin-top: 1.875rem;

    /* margin: 0 auto;
    max-width: 950px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px; */
}

.admin-container .chef.perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
    max-width: 58.75rem;
    /* align-items: center; */
    /* margin-top: 1.875rem; */
}

.chef-management::before {
    content: " ";
    width: 0%;
    height: 0.15rem;
    background-color: var(--color-banner);
    left: 0;
    top: -0.6rem;
    position: absolute;
}

.chef-management::after {
    content: " ";
    width: 0%;
    height: 0.15rem;
    background-color: var(--color-banner);
    left: 0;
    top: 5.4rem;
    position: absolute;
}

.chef-management:hover::before{
    width: 100%;
    transition: width 1.5s ease-in-out;
}

.chef-management:hover::after{
    width: 100%;
    transition: width 1.5s ease-in-out;
}

.chef-management span{
    /* border-radius: 0.536rem;
    height: 5rem;
    width: 10.75rem; */
    /* margin-left: 75px; */
    /* width: 172px;
    height: 80px;
    border-radius: 15px;
    display: block;
    margin: 0px auto;
    max-width: 100%;
    object-fit: cover; */

    padding: 40px 40px;
    /* background-color: var(--secondary-color); */
    border-radius: 50px;
    color: #777;
    margin-top: 8px;
    margin-right: 1px;
    display: inline-block;

}

/* .chef-management__content {
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    height: 21px;
    color: var(--color-header);
    opacity: 100%;
} */


.admin-container .chef-management__content {
    padding-top: 15px;
    /* font-size: 18px; */
    line-height: 21px;
    /* font-weight: bold; */
    /* height: 21px; */
    /* color: var(--color-header); */
    /* opacity: 100%; */
    margin-top: 8px;
    margin-right: 12px;
    /* align-items: center; */
}

.admin-container .chef-management__content p {
    font-size: 18px;
    color: #111111;
    width: 120px;
    height: 21px;
    opacity: 100%;
    margin-bottom: 8px;
}

.admin-container .chef-management__content a {
    font-size: 14px;
    color:#6558C3;
    width: 63px;
    height: 16px;
    opacity: 100%;
    text-decoration: none;
    font-weight: bold;
}

.card-show .image span{
    /* border-radius: 0.536rem;
    height: 5rem;
    width: 10.75rem; */
    /* margin-left: 75px; */
    /* width: 172px;
    height: 80px;
    border-radius: 15px;
    display: block;
    margin: 0px auto;
    max-width: 100%;
    object-fit: cover; */

    padding: 100px 100px;
    /* background-color: var(--secondary-color); */
    border-radius: 100px;
    color: #777;
    margin-top: 55px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 370px;

}

/* .chef__content {
    padding-top: 20px;
    font-size: 18px;
    line-height: 21px;
    font-weight: bold;
    height: 21px;
    color: var(--color-header);
    opacity: 100%;
} */

.info__chef h4{
    font-size: 1.125rem;
    line-height: 1.313rem;
    color: var(--color-black);
    font-weight: normal;
}

.info__chef a{
    text-decoration: none;
    font-size: 0.875rem;
    line-height: 1rem;
    color: var(--color-rocket);
    font-weight: bold;
}

/* .select-chef {
    width: 900px;
    height: 49px;
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 0 4px;
} */

.select-chef{   
    -webkit-appearance: none;  
    /* Remove estilo padrão do Chrome */  
     -moz-appearance: none; 
     /* Remove estilo padrão do FireFox */   
     appearance: none; 
     /* Remove estilo padrão do FireFox*/   
     background: url(http://www.webcis.com.br/images/imagens-noticias/select/ico-seta-appearance.gif) no-repeat #FFFFFF;  
     /* Imagem de fundo (Seta) */   
     background-position: 860px center;  
     /*Posição da imagem do background*/   
     width: 900px; 
     /* Tamanho do select, maior que o tamanho da div "div-select" */   
     height: 49px; 
     /* Altura do select, importante para que tenha a mesma altura em todo os navegadores */   
     border: 1px solid #DDDDDD;
     border-radius: 4px;
     color: #999999;
     font-size: 16px;
}

.filter {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    width: 240px;
    height: 28px;
}

/* .content-filter h4,
.content-filter p {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    width: 240px;
    height: 28px;
} */

.filter h4 {
    margin: 0 231px;
    margin-bottom: 20px;
    width: 174px;
    height: 28px; 
    font-size: 24px;
    line-height: 28px;
    opacity: 100%;
    color: var(--color-header);
}

.filter-recipe {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    width: 240px;
    height: 28px;
    margin: 0 490px;
    margin-bottom: 20px;
    /* width: 174px;
    height: 28px;  */
    /* font-size: 24px; */
    line-height: 28px;
    opacity: 100%;
}


/* #### SITE - CHEFS #### */

.content-container .chefs.perfis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    max-width: 58.75rem;
    margin-top: 1rem;
}

.content-container .chef.perfil {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 58.75rem;
    /* align-items: center; */
    /* margin-top: 1.875rem; */
}


/* .chef__image-container {
    display: inline-flex;
} */

.content-container .chef__image-container span{
    padding: 40px 40px;
    /* background-color: var(--secondary-color); */
    border-radius: 50px;
    color: #777;
    margin-top: 8px;
    margin-right: 4px;
    display: inline-block;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* font-size: 50px; */


    /* .table-container span {
        padding: 4px 4px;
        /* background-color: var(--secondary-color); */
        /* border-radius: 8px;
        color: #777;
        margin-top: 8px;
        margin-right: 4px;
        display: inline-block;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px; */
    /* } */
}

.content-container .chef__content {
    margin-top: 8px;
}

.content-container .chef__content p {
    font-size: 16px;
    color: #111111;
    width: 120px;
    height: 21px;
    opacity: 100%;
}

.content-container .chef__content span {
    font-size: 14px;
    color:#666666;
    width: 61px;
    height: 16px;
    opacity: 100%;
}

.content-container .recipes-management {
    margin: 0 auto;
}



/* ### ADMIN - SHOW ### */

.titleADM {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 50px;
}

.card-show .titleADM {
    margin-bottom: 10px;
}

.card-show .name-chef {
    text-align: center;
    margin-top: 30px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.card-show .name-chef h1 {
    font-size: 36px;
    color: var(--color-black);
    line-height: 2.625rem;
}

.titleADM h1 {
    font-size: 36px;
    color: var(--color-black);
    line-height: 2.625rem;
}

.titleADM p {
    font-size: 20px;
    line-height: 1.5rem;
    color: #777777;
}

.itemADM h2 {
    margin-bottom: 12px;
}

.itemADM ul,
p {
    color: #444444;
    font-size: 18px;
    line-height: 28px;
}

.itemADM ul li {
    list-style-type: none;
}

.itemADM ul li::before {
    content: '-  ';
}


.links-header-admin a.active {
    font-weight: bold;
    /* color: var(--primary-color);  */
 }

.total_recipes {
    text-align: center;
    margin-bottom: 35px;
}

.total_recipes p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #444444;
}

.total_recipes-chef {
    text-align: center;
    margin-bottom: 50px;
    margin-left: 25px;
}

.total_recipes-chef p {
    font-size: 20px;
    line-height: 1.5rem;
    color: #777777;
}


.recipes__chef {
    margin-bottom: 30px;
}