{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock %}

 {% block header %}
    <a href="/about">Sobre</a>
    <a href="/recipes" class="receitas">Receitas</a>
{% endblock %}

           
{% block content %}
 
    <div class="content-container">
        <section class="recipes foods">
           {% for item in items %}
            <div class="recipe food" id="{{ items.indexOf(item) }}">
                <div class="recipe__image-container">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                </div>
                <div class="recipe__content">
                    <p>{{ item.title }}</p>
                </div>
                <div class="recipe__info">
                    <p>{{ item.author }}</p>
                </div>
            </div>
          {% endfor %}

          {% for item in items %}
            <div class="recipe food" id="{{ items.indexOf(item) }}">
                <div class="recipe__image-container">
                    <img src="{{ item.image }}" alt="{{ item.title }}">
                </div>
                <div class="recipe__content">
                    <p>{{ item.title }}</p>
                </div>
                <div class="recipe__info">
                    <p>{{ item.author }}</p>
                </div>
            </div>
          {% endfor %}

            {# <div class="recipe food" id="burger">
                <div class="recipe__image-container">
                    <img src="/asserts/burger.png" alt="Burguer">
                </div>
                <div class="recipe__content">
                    <p>Triplo bacon burger</p>
                </div>
                <div class="recipe__info">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="recipe food" id="pizza">
                <div class="recipe__image-container">
                    <img src="/asserts/pizza.png" alt="Pizza">
                </div>
                <div class="recipe__content">
                    <p>Pizza 4 estações</p>
                </div>
                <div class="recipe__info">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="recipe food" id="espaguete">
                <div class="recipe__image-container">
                    <img src="/asserts/espaguete.png" alt="Espaguete">
                </div>
                <div class="recipe__content">
                    <p>Espaguete ao alho</p>
                </div>
                <div class="recipe__info">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="recipe food" id="lasanha">
                <div class="recipe__image-container">
                    <img src="/asserts/lasanha.png" alt="Lasanha">
                </div>
                <div class="recipe__content">
                    <p>Lasanha mac n' cheese</p>
                </div>
                <div class="recipe__info">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="recipe food" id="doce">
                <div class="recipe__image-container">
                    <img src="/asserts/doce.png" alt="Doce">
                </div>
                <div class="recipe__content">
                    <p>Docinhos pão-do-céu</p>
                </div>
                <div class="recipe__info">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="recipe food" id="asinhas">
                <div class="recipe__image-container">
                    <img src="/asserts/asinhas.png" alt="Asinhas">
                </div>
                <div class="recipe__content">
                    <p>Asinhas de frango ao barbecue</p>
                </div>
                <div class="recipe__info">
                    <p>por Vania Steroski</p>
                </div>
            </div>

            <div class="recipe food" id="burger">
                <div class="recipe__image-container">
                    <img src="/asserts/burger.png" alt="Burguer">
                </div>
                <div class="recipe__content">
                    <p>Triplo bacon burger</p>
                </div>
                <div class="recipe__info">
                    <p>por Jorge Relato</p>
                </div>
            </div>

            <div class="recipe food" id="pizza">
                <div class="recipe__image-container">
                    <img src="/asserts/pizza.png" alt="Pizza">
                </div>
                <div class="recipe__content">
                    <p>Pizza 4 estações</p>
                </div>
                <div class="recipe__info">
                    <p>por Fabiana Melo</p>
                </div>
            </div>

            <div class="recipe food" id="espaguete">
                <div class="recipe__image-container">
                    <img src="/asserts/espaguete.png" alt="Espaguete">
                </div>
                <div class="recipe__content">
                    <p>Espaguete ao alho</p>
                </div>
                <div class="recipe__info">
                    <p>por Júlia Kinoto</p>
                </div>
            </div>

            <div class="recipe food" id="lasanha">
                <div class="recipe__image-container">
                    <img src="/asserts/lasanha.png" alt="Lasanha">
                </div>
                <div class="recipe__content">
                    <p>Lasanha mac n' cheese</p>
                </div>
                <div class="recipe__info">
                    <p>por Juliano Vieira</p>
                </div>
            </div>

            <div class="recipe food" id="doce">
                <div class="recipe__image-container">
                    <img src="/asserts/doce.png" alt="Doce">
                </div>
                <div class="recipe__content">
                    <p>Docinhos pão-do-céu</p>
                </div>
                <div class="recipe__info">
                    <p>por Ricardo Golvea</p>
                </div>
            </div>

            <div class="recipe food" id="asinhas">
                <div class="recipe__image-container">
                    <img src="/asserts/asinhas.png" alt="Asinhas">
                </div>
                <div class="recipe__content">
                    <p>Asinhas de frango ao barbecue</p>
                </div>
                <div class="recipe__info">
                    <p>por Vania Steroski</p>
                </div>
            </div> #}

        </section>
    </div>    

    {# <div class="modal-overlay">    
        <div class="modal">
            <div class="modal-content">
                <!-- Dados da receita -->
                <div class="image-receita">
                    <img src="" alt="">
                </div>    
                <div class="descricao-receita">
                    
                </div>
                <div class="criador-receita">
                    
                </div>
                <a class="close-modal">
                    Fechar modal
                </a>
            </div>
        </div>
    </div> #}

    <script src="/scripts/scripts.js"></script>
{% endblock %}