{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock %}

 {# {% block header %}
    <a href="/about">Sobre</a>
    <a href="/recipes" class="receitas">Receitas</a>
{% endblock %} #}

           
{% block content %}

    <div class="filter-recipe">
        <h4>Buscando por "{{ filter }}"</h4>
        {# <p>"{{ filter }}"</p> #}
    </div>
    <div class="content-container">
        <section class="recipes foods">
           {% for recipe in recipes %}
            {# <div class="recipe food" id="{{ recipes.indexOf(recipe) }}"> #}
            <div class="recipe food" id="{{ recipe.id }}">
                <div class="recipe__image-container">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                </div>
                <div class="recipe__content">
                    <p>{{ recipe.title }}</p>
                </div>
                <div class="recipe__info">
                    <p>por {{ recipe.chef_name }}</p>
                </div>
            </div>
          {% endfor %}
        </section>
    </div>    
    
        {# <section class="recipes foods">
           {% for recipe in recipes %}
            <div class="recipe food" id="{{ recipes.indexOf(recipe) }}">
                <div class="recipe__image-container">
                    <img src="{{ recipe.image }}" alt="{{ recipe.title }}">
                </div>
                <div class="recipe__content">
                    <p>{{ recipe.title }}</p>
                </div>
                <div class="recipe__info">
                    <p>por {{ recipe.chef_name }}</p>
                </div>
            </div>
          {% endfor %}
        </section> #}
    {# <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div> #}
    <script src="/scripts/scripts.js"></script>
{% endblock %}