{% extends "layout.njk" %}

{% block head %}
    <title>Receitas</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

{% endblock %}

 {# {% block header %}
    <a href="/about">Sobre</a>
    <a href="/recipes">Receitas</a>
{% endblock %} #}

           
{% block content %}
 
    <div class="content-container">
        <div class="recipe-header">
                <div class="image-recipe">
                    <img src="{{ recipes.image }}" alt="{{ recipes.title }}">
                </div>
                <div class="content-recipe">
                    <p>{{ recipes.title }}</p>
                </div>
                <div class="recipe-author">
                    <p>por {{ recipes.chef_name }}</p>
                </div>
        </div>
        <section class="recipe-detail">
            <div class="recipe-context">
                <div class="recipe-ingredients">
                    <div class="show-ingredients">
                        <h4>Ingredientes</h4>
                        {# <button id="ingredients-button" class="button" onClick="showHide('ingredients')">MOSTRAR</button> #}
                        <button id="ingredients-button" class="button">MOSTRAR</button>
                    </div>
                    <div id="ingredients" class="details__recipe hide">
                        <ul>
                            {% for item in recipes.ingredients %}
                                <li>{{ item }};</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="recipe-preparation">
                    <div class="show-preparation">
                        <h4>Modo de preparo</h4>
                        {# <button id="preparation-button" class="button" onClick="showHide('preparation')">MOSTRAR</button> #}
                        <button id="preparation-button" class="button">MOSTRAR</button>
                    </div>
                    <div id="preparation" class="details__recipe hide">
                        <ul>
                            {% for item in recipes.preparation %}
                                <li>{{ item }};</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <div class="recipe-information">
                    <div class="show-information">
                        <h4>Informações adicionais</h4>
                        {# <button id="information-button" class="button" onClick="showHide('information')">MOSTRAR</button> #}
                        <button id="information-button" class="button">MOSTRAR</button>
                    </div>
                    <div id="information" class="details__recipe hide">
                        <p>{{ recipes.information }}</p>
                    </div>
                </div>

            </div>
        </section>
    </div>

    <script src="/scripts/script_hide.js"></script>
{% endblock %}